.title {
    font-size: 36px;
}

.sentence {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 48px;
    margin: 30px;
}

.btn {
    font-size: 16px;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(209, 208, 208);
    cursor: pointer;
    margin-bottom: 20px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.animation {
    animation: anim 1000ms 2000ms, fade-in 2000ms ease-in-out;
}

@keyframes anim {
    from {
        transform: translateY(50vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }
    to {
        opacity: 1;
        transform: translateY(50vh);
    }
}