.title {
    font-size: 36px;
}

.sentence {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 48px;
    margin: 50px;
}

.btn {
    font-size: 16px;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    background-color: rgb(209, 208, 208);
    cursor: pointer;
    margin-bottom: 15px;
}
