.modale {
    width: 40vw;
    height: 22vh;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.text {
    width: 80%;
    margin-top: 6vh;
}